@import url("https://fonts.googleapis.com/css?family=Roboto:100,400");
.roboto-regular, .roboto-thin, header h2, header h1 {
  font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400; }

.roboto-thin, header h2 {
  font-weight: 100; }

header {
  margin-bottom: 1rem;
  background-color: #388E3C;
  color: #FFFFFF; }
  header h1 {
    font-size: 2rem;
    margin: 2rem 0 0 0; }
  header h2 {
    font-size: 1.75rem;
    margin: 0 0 2rem 0; }

.card > div {
  padding: 0.5rem;
  text-align: center; }
