$primary-color-dark:   #455A64;
$primary-color:        #607D8B;
$primary-color-light:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

.roboto-regular {
  font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
}

.roboto-thin {
  @extend .roboto-regular;
  font-weight: 100;
}

body {
  color: $primary-text-color;
}

header {
  text-align: center;
  margin-bottom: 1rem;
  background-color: $primary-color-dark;
  color: $primary-color-text;
  h1 {
    font-size:2rem;
    @extend .roboto-regular;
    margin: 1rem 0 0 0;
  }
  h2 {
    font-size: 1.1rem;
    @extend .roboto-thin;
    margin: 0 0 1rem 0;
  }
}

.card {
  text-align: center;
  > img {
    z-index: 100;
    position: relative;
  }
  aside {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    position: relative;
  }
  > aside {
    background-color: $accent-color;
    width: 65px;
    height: 65px;
    margin: 0 auto;
    top: 45px;
    left: -65px;
    border-radius: 50%;
    z-index: 200;
  }
  > div {
    display: flex;
    justify-content: space-around;
    top: -17px;
    position: relative;
    z-index: 50;
    > aside {
      background-color: $primary-color-light;
      height: 65px;
      flex-direction: column;
      flex: 1 1;
      &:nth-child(1) {  }
      &:nth-child(2) {  }
      > span {
        line-height: 1.1rem;
        &:nth-child(1) {
          font-size: 1.25rem;
        }
        &:nth-child(2) {
          font-size: .8rem;
          color: $secondary-text-color
        }
      }
    }
  }
  .winner-left, .winner-right {
    position: absolute;
    top: -10px;
    line-height: 2em;
    > i {
      &:first-of-type {
        color: darken($accent-color, 10);
      }
      &:last-of-type {
        color: #ffffff;
      }
    }
  }
  .winner-left {
    left: -15px;
  }
  .winner-right {
    right: -15px;
  }
}